@charset "utf-8";

@font-face {
      font-family:  'Gmarket';
      font-weight: 300;
      src: url(../font/GmarketSansLight.woff);
  
  }
  @font-face {
      font-family: 'Gmarket';
      font-weight: 500;
      src: url(../font/GmarketSansMedium.woff);
  }
  @font-face {
      font-family: 'Gmarket';
      font-weight: 700;
      src: url(../font/GmarketSansBold.woff);
  }
  @font-face {
      font-family:'NotoSans_KR';
      font-weight: 100;
      src: url(../font/NotoSansKR-Thin.woff);
  }

  @font-face {
      font-family: 'NotoSans_KR';
      font-weight: 300;
      src: url(../font/NotoSansKR-Light.woff);
  }

  @font-face {
      font-family: 'NotoSans_KR';
      font-weight: 400;
      src: url(../font/NotoSansKR-Regular.woff);
  }

  @font-face {
      font-family: 'NotoSans_KR';
      font-weight: 500;
      src: url(../font/NotoSansKR-Medium.woff);
  }

  @font-face {
      font-family: 'NotoSans_KR';
      font-weight: 700;
      src: url(../font/NotoSansKR-Bold.woff);
  }

  @font-face {
      font-family: 'NotoSans_KR';
      font-weight: 900;
      src: url(../font/NotoSansKR-Black.woff);
  }


/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;  font-weight:300;  
                src : url(../font/NanumGothic.ttf); }  */

* {margin:0; padding:0;}
html{font-size:16px;
  }
body{ font-size:16px;
      color:#6f6f6f;
      font-family: ' Gmarket', 'NotoSans_KR';
     }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle;outline:0}
hr {clear:both;border:none}
a {outline:0;color:inherit;text-decoration:none}
table{border-collapse:collapse}
input, textarea {color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;}
button{outline:0}
