@charset "utf-8";

.inner{width:100%; max-width: 1070px; margin:0 auto ; }
#wrap{ overflow-y:hidden; height: 1000px;}


/*레이아웃*/
header{width:100%; max-width:1067px; margin: 0 auto;}
section{margin: 10% 10% 10% 10% 0;}
body{ font-family: 'NotoSans_KR';
 color: #000;
}

p{
font-family: 'NotoSans_KR';
 color: #000;
 font-size: 1.1rem
}

/*header*/

#head .head_box{
    width: 100%;
    border-bottom: 1px solid #cccc;
    padding: 0 2% 2% 2%;
}
#head .head_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
 
}

#head .head_1 > li{
    margin: 2% 2%
}

/*section1*/
#section1 .question .q1{
    width: 100%;
    margin: 2% 5%;
    font-weight: 400;
    font-style: normal;
}

#section1 .q2{
    width: 100%;
    margin: 2% 5%
}

#section1 .choose{
    width:calc(100% - 20px);
    height: 145px;
    flex-direction: row;
    border-top: 1px solid #cccc;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-bottom: 1px solid #cccc;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
}

#section1 .choose > li > span {
    padding: 1% 1% 1% 0%;
    width: 100%;
}
#section1  .question{
    margin-top: 5% ; 
}

#section1 .choose > .question > p{
    display: block;
    
}

#section1 .choose > li{ 
    display: block;
    width: 100%;
   
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
}

#section1 .choose > li > h4{
 
}

#section1 .choose > .question > .q2 > h4{
 
    
}

#section1 .bt{
    position: absolute;
    width: 5%;
    height: 5%;
    top:70%;
    left:45%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

/*필터링서비스3 */

#section1 .bt2{
    position: absolute;
    width: 5%;
    height: 5%;
    top:85%;
    left:52%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

#section1 .bt3{
    position: absolute;
    width: 5%;
    height: 5%;
    top:85%;
    left:45%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

#section1 .question .choose > p {
    display: block;
}

#section1  a:hover > .bt,
#section1  a:hover > .bt2,
#section1  a:hover > .bt3
{
    background-color: #1956F1;
    color: #ffff;
}

.color{
    color: #1956F1;
}

@media all and (max-width:426px){
    
    h2{
        font-size: 1em;
    }

    #head .head_1 > li {
        margin: 0.5% 0.5% 0.5% 0.5%;
    }

    #head .head_1 > li > p{
    font-size: 0.7em;
    }
    #head .arrow{
        width: 70%;
        padding: 1% 0% 0% 5%;
    }

    #section1 p{
        padding-left: 2%;
    }
    #section1 .bt {
        width: 14%;
        height: 4%;
        top: 51%;
    }
/*필터3*/
    #section1 .choose {
        font-size: 0.7em;
        height: 100%;
    }

    #section1 .bt3 {
        width: 15%;
        height: 4%;
        top: 39%;
        left: 33%;}
    
     #section1 .bt2 {
            
        width: 15%;
        height: 4%;
        top: 39%;
        left: 55%;
    }

}
