@charset "utf-8";

.inner{width:100%; max-width: 1070px; margin:0 auto ; }
#wrap{ overflow-y:hidden; height: 1000px;}


/*레이아웃*/
header{width:100%; max-width:1067px; margin: 0 auto;}
section{margin: 200px 0;}
body{ font-family: 'NotoSans_KR';
 color: #000;
}
p{
font-family: 'NotoSans_KR';
 color: #000;
 font-size: 1.1rem
}

/*header*/

#head .head_box{
    width: 100%;
    border-bottom: 1px solid #cccc;
    padding: 0 2% 2% 2%;
}
#head .head_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
 
}

#head .head_1 > li{
    margin: 2% 2%
}

/*section1*/
#section1 .question .q1{
    width: 100%;
    margin: 2% 5%;
    font-weight: 400;
    font-style: normal;
}

#section1 .q2{
    width: 100%;
    margin: 2% 5%
}

#section1 .choose{
    display: flex;
    width:100%;
    height: 145px;
    flex-direction: row;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
}


#section1  .question{
    margin-top: 5% ; 
}

#section1 .choose > .question > p{
    display: block;
    
}

#section1 .question > li{ 
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2% 2% 2% 2%;
}

#section1 .question > li > h4{
    text-align: center;
}

#section1 .choose > .question > .q2 > h4{
 
    
}

#section1 .bt{
    position: absolute;
    width: 5%;
    height: 5%;
    top:70%;
    left:45%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

/*필터링서비스3 */
#section1 .bt2{
    position: absolute;
    width: 5%;
    height: 5%;
    top:85%;
    left:52%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

#section1 .bt3{
    position: absolute;
    width: 5%;
    height: 5%;
    top:85%;
    left:45%;
    border-radius: 30px;
    background-color: #ffff;
    border: 1px bold #000;
    cursor: pointer;
}

#section1 .question .choose > p {
    display: block;
}